// VARIABLES
$color-principal: black;
$fuente-enlaces : 'Helvetica';
$display-flex : flex;
$color-texto: #FFFFFF;
$tamanoFuenteEnlace: 1.1rem;
$color-fondo: #1F2023;
$fuente-textos: 'Open Sans', sans-serif;