// IMPORT VARIABLES
@import '../utilities/variables.scss';

header{
    background-color: $color-fondo;
    display: $display-flex;
    padding: 1rem;
    border-bottom: 1px solid gray;
        img{
            width: 5rem;
        }

        nav{
            ul{
                list-style-type: none;
                display: $display-flex;
                
                li{
                    margin: 10px;
                    #enlace-principal{
                        color: yellow;
                    }
                    a{
                        color: $color-texto;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: $tamanoFuenteEnlace;
                    }

                }
            }
        }
}

