section{

    a{
        background-color: $color-principal;
        text-decoration: none;
        color: $color-texto;
        font-family: $fuente-textos ;
    }

    h1{
        color: $color-principal;
        font-family: $fuente-textos;
    }
}